<%- include('.templates/header') %>

//BOILER PLATE CODE 

    <h1>Welcome to the Guessing Game!</h1>
    <p>Try to guess the correct number between 1 and 100.</p>
    <a href="/game">Start Playing</a>
  </body>