<%- include('templates/header', { pageTitle: 'Quiz', css: ['gamecorrect.css'] })  %>
    <div class="app-container">

        <div class="phone-card">

            <div class="progress-area">
                <div class="progress-bar-custom"></div>
                <div class="question-number">2</div>
            </div>

            <div class="question-box">
                Is this edible?
            </div>

            <div class="image-area">
                <img src="/images/salal.jpg" class="quiz-img">
            </div>

            <div class="tf-buttons">

            <a href="/gameresult" class="tf-btn true-btn">T</a>

            <div class="tf-btn false-btn">F</div>

            </div>

        </div>

    </div>
<%- include('templates/footer', { js: ['gamecorrect.js'] }) %>