<%- include('templates/header', { pageTitle: 'LogIn', css: ['index.css'] })  %>
    <div class="px-4 py-5 text-center min-vh-100 d-flex flex-column justify-content-center hero-section">
      <div class="col-lg-6 mx-auto w-100">
        <div style="transform: translateY(-80px)">
          <p class="lead mb-4 hero-text">
            Start your food
            <br />
            saftey journey with
          </p>
        </div>

        <div style="transform: translateY(-40px)">
            <h1 class="display-2 fw-bold hero-title">NibbleWise</h1>
        </div>


        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5">
          <button type="button" class="btn btn-lg px-4 gap-3 signup-btn">
            Sign Up
          </button>

          <button type="button" class="btn btn-lg px-4 login-btn">
            Login
          </button>
        </div>
      </div>
    </div>
<%- include('templates/footer', { js: [''] }) %>
