<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Profile CSS -->
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/profilemodal.css">

</head>

<body>

    <div class="d-flex p-2 heading-styling">
        <h2 class="heading-element">
            Hello User!
        </h2>
    </div>
    <div class="modal-img">
        <!-- <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/seedColor.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a seed!</h2> -->

        <!-- <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/seedlingColor.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a Sprout!</h2> -->

        <!-- <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/sproutColor.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a Seedling!</h2> -->

        <!-- <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/youngTreeColor.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a Young Tree!</h2> -->

        <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/fruitTreeColor_1.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a Fruit Tree!</h2>
    </div>

     <div class="earned-points balance-points">
      <img src="/images/plant_points.svg" alt="plant-points-logo" class="img-earned-points">
      <p class="text-earned-points"> Balance </p>
      <p class="text-earned-points"> 0 </p>
      <img src="/images/pp.svg" alt="plant-points" class="plant-points-logo">
    </div>


</body>

</html>