<%- include('templates/header', { pageTitle: 'Profile', css: ['profile.css', 'profilemodal.css'] }) %>

    <div class="d-flex p-2 heading-styling">
        <h2 class="heading-element">
            Hello User!
        </h2>

        <div class="earned-points balance-points">
            <img src="/images/plant_points.svg" alt="plant-points-logo" class="img-earned-points">
            <p class="text-earned-points"> Balance </p>
            <p class="text-earned-points"> 0 </p>
            <img src="/images/pp.svg" alt="plant-points" class="plant-points-logo">
        </div>
    </div>
    <div class="modal-img">
        <!-- <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/seedColor.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a seed!</h2> -->

        <!-- <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/SproutColor1.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a Sprout!</h2> -->

        <!-- <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/SeedlingColor.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a Seedling!</h2> -->

        <!-- <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/youngTreeColor.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a Young Tree!</h2> -->

        <a class="modal-close-btn" href="/profile"><img src="/images/close.svg" alt="" class="close-btn"></a>
        <img src="/images/fruitTreeColor_1.svg" alt="" class="img-seed">
        <h2 class="modal-tag-line"> You have unlocked a Fruit Tree!</h2>
    </div>

<%- include('templates/footer', { js: [''] }) %>