<%- include('templates/header', { pageTitle: 'Quiz', css: ['quiz.css'] })  %>
  <div class="page-background d-flex justify-content-center align-items-center">
    <div>
      <div class="phone-card d-flex flex-column">
        <div class="content-area d-flex flex-column justify-content-center align-items-center text-center">
          <h1 class="title-text">
            Test your plant safety<br />
            knowledge
          </h1>

          <a href="/restartquiz" class="btn start-btn">Start Quiz</a>

          <!-- Herf can be changed - can be -->
          <!-- Trigger Button -->
          <button type="button" id="tutorial-btn" class="btn start-btn">
            Start Tutorial
          </button>

          <dialog id="videoModal">
            <form method="dialog">
              <!-- Close Button (Top Right) -->
              <button class="close-icon">&times;</button>
            </form>

            <div class="video-container">
              <video controls>
                <source src="/videos/tutorial-high.mp4" type="video/mp4">
              </video>
            </div>
          </dialog>

          <!-- <div class="player">
            <video id="video" controls autoplay muted loop class="player-video">
              <source src="" type="video/mp4" />
            </video>
            <i class="fa-solid fa-x" id="close"></i>

          </div> -->
        </div>

        <%- include('templates/footer') %>
      </div>
    </div>
  </div>

 <%- include('templates/footer', { js: ['tutorial.js'] }) %>