/* RESET */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f1ea;
}

/* FULL SCREEN CONTAINER */
.app-container {
    width: 100vw;
    height: 100vh;
    background-color: #f4f1ea;
}

/* MAIN APP */
.phone-card {
    width: 100vw;
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f7f2;
    display: flex;
    flex-direction: column;
}

/* PROGRESS AREA */
.progress-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.progress-bar-custom {
    width: 75%;
    height: 18px;
    background-color: #b8c98a;
    border-radius: 20px;
}

.question-number {
    width: 38px;
    height: 38px;
    background-color: #8b6b47;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QUESTION */
.question-box {
    background-color: white;
    margin: 10px 18px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #4d3b2f;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* IMAGE */
.image-area {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.quiz-img {
    width: 85%;
    max-width: 340px;
    border-radius: 12px;
    border: 6px solid #d8e4b2;
}

/* TRUE FALSE BUTTONS */
.tf-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.tf-btn {
    height: 120px;
    font-size: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.true-btn {
    background-color: #8b6b47;
}

.false-btn {
    background-color: #b8c98a;
}

/* FOOTER */
.bottom-nav {
    height: 75px;
    background-color: #8b6b47;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}

.nav-icon {
    font-size: 40px;
    color: white;
}

/* SMALL SCREENS */
@media (max-width: 400px) {
    .question-box {
        font-size: 20px;
    }

    .tf-btn {
        height: 100px;
        font-size: 42px;
    }

    .quiz-img {
        width: 90%;
    }
}