:root {
  --light-green: #adc178;
  --light-cream: #fffefb;
  --brown: #6b4f32;
  --white: #ffffff;
  --button-green: #67730e;
  --score: #d4aa5a;
}

.alert {
    text-align: center;
}

.card-header {
    background-color: var(--light-green);
    color: var(--light-cream);
}

.card-text {
    font-size: 2rem;
    font-weight: bold;
    color: #d4aa5a;
}

.btn {
    background-color: var(--button-green);
    color: var(--light-cream);
}

.result-bar {
    width: 100%;
    height: 14px;
    display: flex;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.result-green {
    height: 100%;
    background-color: #198754;
    width: var(--greenWidth);
}

.result-red {
    height: 100%;
    background-color: #dc3545;
    width: var(--redWidth);
}