<div class="bottom-nav">

    <a href="/landing" class="nav-link-custom">
        <span class="material-icons nav-icon">home</span>
    </a>

    <a href="/quiz" class="nav-link-custom">
        <span class="material-icons nav-icon">sports_esports</span>
    </a>

    <a href="/profile" class="nav-link-custom">
        <span class="material-icons nav-icon">account_circle</span>
    </a>

</div>