<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
</html>
<body>
  /* NAV BAR CONTENT - NEED TO CSS [ I DID NOT USE BOOTSTRAP].*/
  <div class="navbarContainer">
    <nav class="navbar">
      <ul class="navList">
        <li class="navItem"><a href="/">Home</a></li>
        <li class="navItem"><a href="/game">Game</a></li>
        <li class="navItem"><a href="/profile">Profile</a></li>
      </ul>
    </nav>
  </div>
</body>
